body { background-color: silver;}
body {background-image:url('black background.jpg');} 
A:link{
color:blue;text-decoration:none;
}
.border{
border:2px solid black;
padding:5px;
border-radius:10px;
background:white;


}
#counter
{
	font:arial;
	position:absolute;
	left:400px;bottom:50px;
	font-size:20pt;
}
#calci
{font:arial;
background: black;
position:absolute;left:100px;top:50px;
}
#myphoto
{font:arial;
background: black;
position:absolute;right:50px;top:50px;	

}
h1{font-size:36pt;margin-left:200px;color: #A63CD4;}
#quote
{
font:arial;
	font-size:20pt; 
	position:absolute;left:50px;top:10px;	
	color:purple;
}
#photos
{font:arial;
	font-size:20pt; 
	position:absolute;left:50px;top:70px;
	color:purple;
}
#aboutme
{
	font-size:20pt; 
	position:absolute;left:50px;top:130px;
	color:purple;
}
#calci
{font-size:20pt;font:arial;
position:absolute;left:50px;top:190px;
border:2px solid black ; padding:2px;background:white;
color:purple;	
}
#lines1,#acads
{
	font-size:20pt;font:arial; 
	position:absolute;left:50px;top:50px;width:500px;
	color:purple;
}

#time
{
	font:arial;
	font-size:20pt;
	color:blue;
	position: absolute;bottom:10px;right:50px;
}
#timec
{
font-size:18pt;font:arial;
position:absolute;right:50px;bottom:80px;
border:2px solid black ; padding:2px;background:white;
color:purple;	


}
#name
{
border-radius:10px;font:arial;
font-size:18pt;  color : gold;}
#contact
{font-size:20pt;margin-bottom:50px;margin-right:0px;margin-left=auto ;text-align:right;color:purple;}
.centre
{
font-size:20pt; margin-top:130px;margin-left:130px;color:red}
.thumbnail 
{
float:left;
width:210px;
height:190px;
margin:5px;
}
